{% extends "normal.html" %}
{% load url from future %}

{% block centralContent %}
    <h2>Login</h2>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form role="form" class="form-inline" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label class="sr-only" for="id_username">Username:</label>
            <input id="id_username" name="username" type="text" class="form-control" placeholder="Username" autofocus/>
        </div>
        <div class="form-group">
            <label class="sr-only" for="id_password">Password:</label>
            <input id="id_password" name="password" type="password" class="form-control" placeholder="Password"/>
        </div>
        <button type="submit" class="btn btn-default" value="Login">Submit</button>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

    <p>To register a new Volunteer Web Account please <a href="/accounts/register/">click here</a>.</p>

{% endblock %}
