{% extends "content/documenttype.html" %}
{% load programme_filters %}
{% load thumbnail %}

{% block centralContent %}

    {{ event|md }}
    <meta itemprop="description" content="{{ event.summary|safe|striptags }}" data-bind="attr: { content: summary }"/>
    <meta itemprop="url" content="{{ event.get_absolute_url }}"/>

    <header>
        <h1>{{ event|md:"title" }}</h1>
    </header>

    <h3>{{ event|md:"author" }}, {{ event|md:"created" }}</h3>

{#    From {{ event|md:"source" }}#}
{#    Type {{ event|md:"type" }}#}

    <div class="bodysection">
        {{ event|md:'articleBody' }}
    </div>

    </div>

{% endblock %}
