body {
    background: #ddd2bc;
}

#container {
    background: white;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

/*p, h2, h3, h4, h5, h6, ul, li {*/
    /*margin: 12px 0;*/
/*}*/

/*.top-bar ul, .top-bar li {*/
    /*margin: 0;*/
/*}*/

.small {
    font-size: 90%;
}

.smaller {
    font-size: 80%;
}
/*}*/


/*p.navbuttons {*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/

/*header h1 {*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*text-align: center;*/
/*}*/

/*.feedbutton, header h1 {*/
/*margin: 0 auto;*/
/*text-align: center;*/
/*}*/

/*.feedbutton a.button {*/
/*width: 38px;*/
/*}*/

/*}*/
/*@media screen and (min-width:801px) {*/
/*#container { margin: 0 auto; min-height: 1400px; width: 1124px; }*/
/*#container .sidebar > header { width: 182px; }*/
.clickable:hover {
    z-index: 2;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    -webkit-filter: hue-rotate(360deg);
}

/*.feedbutton a.button {*/
    /*width: 80px;*/
/*}*/

/*.feedbutton {*/
    /*float: right;*/
/*}*/

/*}*/

/*#main > header h1, .editthis > header h1 { margin-top: 0; }*/
/*h1 { margin: 14px 0; line-height: 1.2em; font-size: 1.8em; }*/
/*p, h2, h3, h4, h5, h6, ul, li { margin: 12px 0; }*/

/*.editable .bodysection {*/
/*background: white;*/
/*z-index: 2;*/
/*position: relative;*/
/*background-color:rgba(255,255,230,0.9);*/
/*}*/
/*.fresheditor-toolbar {*/
/*height: 28px;*/
/*position: absolute;*/
/*top: 268px;*/
/*}*/
/*.fresheditor-toolbar .buttons {*/
/*width: 924px;*/
/*height: 29px;*/
/*position: absolute;*/
/*background-color:rgba(255,255,230,0.9);*/
/*}*/
/*.fresheditor-toolbar .buttons ul.toolbarSection li a.toolbar_alignleft {*/
/*background-image:url("../js/libs/jquery.contenteditable/jquery.contenteditable/images/alignleft.gif");*/
/*background-repeat:no-repeat;*/
/*background-position:center center;*/
/*}*/
/*.fresheditor-toolbar .buttons ul.toolbarSection li a.toolbar_aligncenter {*/
/*background-image:url("../js/libs/jquery.contenteditable/jquery.contenteditable/images/aligncenter.gif");*/
/*background-repeat:no-repeat;*/
/*background-position:center center;*/
/*}*/
/*.fresheditor-toolbar .buttons ul.toolbarSection li a.toolbar_alignright {*/
/*background-image:url("../js/libs/jquery.contenteditable/jquery.contenteditable/images/alignright.gif");*/
/*background-repeat:no-repeat;*/
/*background-position:center center;*/
/*}*/
/*.editortable select {*/
/*width: 362px;*/
/*}*/
/*.editortable textarea {*/
/*width: 356px;*/
/*}*/
/*.editortable input {*/
/*width: 358px;*/
/*}*/

.sidebar > header h1 {
    padding: 4px 0px 8px 6px;
    margin-top: 0;
    margin-bottom: 0;
    border-width: 0;
}

.sidebar h3 {
    font-size: 120%;
    margin: 0;
}

.sidebar ul {
    padding: 5px 0;
}

.sidebar .nav > li > a {
    padding: 5px 10px;
}

.sidebar section.contrast {
    padding: 5px 5px;
    background: #ddd2bc;
}

.sidebar section header {
    padding: 9px 0px 6px 10px;
    background: #ddd2bc;
}

.sidebar p, .sidebar address {
    margin: 4px 8px 0px 0px;
}

.sidebar section.contrast p {
    margin: 4px;
}

.sidebar #donate form {
    margin-bottom: 0;
}

.sidebar #contactbox address {
    padding: 10px;
}

/*----------------------------*/

.dmod.boxa, .dmod.boxb div.imgleft, .dmod.boxb .domdom {
    background: white;
}

.dmod.boxb, .dmod.boxa div.imgleft, .dmod.boxa .domdom {
    background: #ddd2bc;
}

.dmod p {
    line-height: 16px;
    margin: 4px;
}

.dmod h1 {
    font-size: 140%;
    font-weight: normal;
    line-height: normal;
    margin: 4px;
}

.dmod .domdom {
    float: right;
    display: block;
    height: 32px;
    width: 32px;
    padding: 5px;
}

.dmod h2 {
    font-size: 125%;
    font-weight: normal;
    line-height: normal;
    margin: 4px;
}

.dmod h3 {
    font-size: 115%;
    font-weight: normal;
    line-height: normal;
    margin: 4px;
}

.dmod {
    padding: 4px;
    position: relative;
    font-size: 13px;
    cursor: pointer;
    margin: 0;
}

.dmod div.imgleft {
    margin: 4px 8px 4px 4px;
    padding-right: 0;
}

p.viewlink {
    bottom: 4px;
    right: 7px;
    position: absolute;
    float: right;
}

/*----------------------------*/

.event-table {
    margin-bottom: 10px;
    width: auto;
}

.event-table tbody>tr>th {
    padding-left: 0;
    border-width: 0;
}

.event-table tbody>tr>td {
    border-width: 0;
}

/*#printprogrammebutton {*/
    /*display: block;*/
    /*float: right;*/
/*}*/

/*td, th {*/
    /*padding: 4px 8px 4px 0;*/
/*}*/

/*th {*/
    /*font-weight: bold;*/
    /*text-align: left;*/
/*}*/

/*table.report {*/
    /*font-size: 90%;*/
    /*width: 100%;*/
    /*table-layout: fixed;*/
/*}*/

/*table.report.maths tr td + td + td {*/
    /*text-align: right;*/
/*}*/

/*table.report.maths tr th span {*/
    /*display: block;*/
    /*text-align: right;*/
    /*vertical-align: middle;*/
    /*padding: 0px 6px 12px 6px;*/
    /*-moz-transform: rotate(90deg);*/
    /*-o-transform: rotate(90deg);*/
    /*-webkit-transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg);*/
    /*transform: rotate(90deg);*/
/*}*/

/*table.report.maths tr th.retNumber {*/
    /*width: 42px;*/
    /*height: 180px;*/
    /*padding: 0;*/
/*}*/

/*table.report.maths tr th.retMoney {*/
    /*width: 72px;*/
    /*height: 180px;*/
    /*padding: 0;*/
/*}*/

/*table.report.maths tr th.retNumber span {*/
    /*width: 168px;*/
    /*height: 30px;*/
    /*margin-left: -69px;*/
/*}*/

/*table.report.maths tr th.retMoney span {*/
    /*width: 168px;*/
    /*height: 60px;*/
    /*margin-left: -54px;*/
/*}*/

table.report tr.Mon, table.report tr.Tue {
    background: #ddd2bc;
}

/*table.report td, table.report th {*/
    /*border: 1px #222 solid;*/
    /*padding: 0px 6px;*/
/*}*/

/*table.reportIndex td, table.reportIndex th {*/
    /*padding: 4px 8px;*/
    /*text-align: center;*/
/*}*/

/*table.reportIndex .highlightCell {*/
    /*background: #ddd2bc;*/
/*}*/

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.imgleft {
    float: left;
}

.imgcenter {
    margin: 0 auto;
    left: 50%;
}

.imgright {
    float: right;
}

.balloon .imgright {
    margin: 4px 8px;
}

div.imgleft {
    padding-right: 8px;
}

div.imgright {
    padding-left: 8px;
}

/*.smallsublist {*/
/*clear:both;*/
/*background: #ddd2bc;*/
/*padding: 1px 0 8px 8px;*/
/*}*/
/*#loggedin {*/
/*padding-left: 8px;*/
/*background: #ddd2bc;*/
/*border: #ddd2bc 1px solid;*/
/*margin-bottom: 14px;*/
/*height: 135px;*/
/*-webkit-border-radius: 3px;*/
/*-moz-border-radius: 3px;*/
/*border-radius: 3px;*/
/*}*/
/*.clear { clear: both; }*/
/*.clearright { clear: right; }*/
/*.clearleft { clear: left; }*/

/*.errorField, .warn {*/
/*background: #ff9999;*/
/*}*/
/*.info {*/
/*background: #99ff99;*/
/*}*/

/*ul.errorlist {*/
/*margin: 0 0 0.5em 0;*/
/*}*/
/*ul.errorlist li {*/
/*margin: 0.2em 0 0.5em 1.5em;*/
/*}*/

/*.certimage {*/
/*float: right;*/
/*}*/

/*.eventtype {*/
/*clear: right;*/
/*}*/

/*.relatedEventList {*/
/*clear: right;*/
/*}*/

/*button {*/
/*width: 140px;*/
/*text-align: center;*/
/*padding: 5px;*/
/*}*/
/*a.button {*/
/*width: 138px;*/
/*}*/
/*.ui-button-text {*/
/*font-size: 0.8em !important;*/
/*padding: 0.2em 0.5em !important;*/
/*}*/
/**/
/*info:*/
/*color: #00529B;*/
/*background-color: #BDE5F8;*/
/*success:*/
/*color: #4F8A10;*/
/*background-color: #DFF2BF;*/
/*warn:*/
/*color: #9F6000;*/
/*background-color: #FEEFB3;*/
/*error:*/
/*color: #D8000C;*/
/*background-color: #FFBABA;*/
/**/
/*button[data-fieldtype=BooleanField].true {*/
/*color: #4F8A10;*/
/*background-color: #DFF2BF;*/
/*}*/
/*button[data-fieldtype=BooleanField].false {*/
/*color: #D8000C;*/
/*background-color: #FFBABA;*/
/*}*/

#adminarea {
    background: white;
    position: fixed;
    height: 100%;
    width: 500px;
    top: 0;
    left: 0px;
    padding: 8px;
}

/*.adminarea.adminarealeft {*/
/*position: fixed;*/
/*height: 100%;*/
/*width: 500px;*/
/*top: 0;*/
/*left: 0px;*/
/*padding: 8px;*/
/*background: white;*/
/*border-right: 3px #434548 solid;*/
/*overflow: scroll;*/
/*}*/

/*.adminarea li, .adminarea ul {*/
/*margin: 2px 0;*/
/*}*/

/*.balloon {*/
/*background: white;*/
/*margin: 5px 0;*/
/*padding: 7px 3px 6px 10px;*/
/*-webkit-border-radius: 5px;*/
/*-moz-border-radius: 5px;*/
/*border-radius: 5px;*/
/*border: 1px solid gray;*/
/*}*/
/*.balloon .balloon {*/
/*margin-right: 8px;*/
/*}*/
/*.balloon.info {*/
/*color: #4F8A10;*/
/*background-color: #DFF2BF;*/
/*}*/
/*.balloon.success {*/
/*color: #4F8A10;*/
/*background-color: #DFF2BF;*/
/*}*/
/*.balloon.warning {*/
/*color: #9F6000;*/
/*background-color: #FEEFB3;*/
/*}*/
/*.balloon.error {*/
/*color: #D8000C;*/
/*background-color: #FFBABA;*/
/*}*/
/*.balloon .button, .balloon button {*/
/*float: right;*/
/*min-width: 75px;*/
/*}*/

/*.balloon h3 {*/
/*margin-top: 0px;*/
/*}*/

/*span.errordetails span {*/
/*display: none;*/
/*}*/
/*span.errordetails:hover span {*/
/*display: block;*/
/*width: 800px;*/
/*background: white;*/
/*border: 1px black solid;*/
/*z-index: 2;*/
/*}*/

/*div.summary {*/
/*margin-bottom: 1em;*/
/*width: 505px;*/
/*}*/

/* modal image picker */
/*#imagelist {*/
/*list-style-type: none;*/
/*margin: 0.5em 0;*/
/*padding: 0;*/
/*width: 840px;*/
/*}*/
/*#imagelist li {*/
/*margin: 8px;*/
/*padding: 0;*/
/*float: left;*/
/*width: 100px;*/
/*height: 100px;*/
/*border: 1px #AAA solid;*/
/*overflow: hidden;*/
/*}*/
/*#imagelist .ui-selected { margin: 7px; border: #AAA 2px solid; }*/

