{% extends "programming/eventtype.html" %}
{% load programme_filters %}
{% load thumbnail %}

{% block centralContent %}

    {{ event|md }}
    <meta itemprop="description" content="{{ event.summary|safe|striptags }}" data-bind="attr: { content: summary }"/>
    <meta itemprop="url" content="{{ event.get_absolute_url }}"/>
    <meta itemprop="duration" content="{{ event.isolength }}" data-bind="attr: { content: isolength }"/>
    <meta itemscope itemprop="location" itemref="thestarandshadowcinemaaddress"
          content="thestarandshadowcinemaaddress"/>

    <header>
        <h1>{{ event|md:"title" }}</h1>
    </header>

    {{ event|md:"picture" }}

    {{ event|md:"festivals" }}

    <h3>{{ event|md:"startDateTime" }} to {{ event|md:'endDateTime' }}</h3>

    <meta itemprop="image" content="{% if event.valid_picture %}{% thumbnail event.picture.file "400" as im %}{{ im.url }}{% endthumbnail %}{% endif %}">

    <div class="bodysection">
        {{ event|md:'body' }}
    </div>

    {{ event|md:"website" }}

    </div>

{% endblock %}
