{% extends "programming/eventtype.html" %}
{% load programme_filters %}
{% load thumbnail %}

{% block centralContent %}

    {{ event|md }}
    <meta itemprop="description" content="{{ event.summary|safe|striptags }}" data-bind="attr: { content: summary }"/>
    <meta itemprop="url" content="{{ event.get_absolute_url }}"/>
    <meta itemprop="duration" content="{{ event.isolength }}" data-bind="attr: { content: isolength }"/>
    <meta itemscope itemprop="location" itemref="thestarandshadowcinemaaddress"
          content="thestarandshadowcinemaaddress"/>

    <header>
        <h1>{{ event|md:"title" }}{{ event|md:"year" }}</h1>
    </header>

    {{ event|md:"picture" }}

    <h3>{{ event|md:"season" }}</h3>

    {{ event|md:"festivals" }}

    <h3>{{ event|md:"startDateTime" }}</h3>

    <div itemscope itemtype="http://schema.org/Movie">
        {{ event|md_meta:"title" }}
        {{ event|md_meta:"year" }}
        <meta itemprop="image" content="
                {% if event.picture %}{% thumbnail event.picture.file "400" as im %}{{ im.url }}{% endthumbnail %}{% endif %}">
        <table class="table table-condensed event-table">
            <tbody>
            <tr>
                <th>Director:</th>
                <td>{{ event|md:'director' }}</td>
            </tr>
            <tr>
                <th>Certificate:</th>
                <td>{{ event|md:'certificate' }}</td>
            </tr>
            <tr>
                <th>Length:</th>
                <td>{{ event|md:'length' }}</td>
            </tr>
            <tr>
                <th>Format:</th>
                <td>{{ event|md:'filmFormat' }}</td>
            </tr>
            <tr>
                <th>Language:</th>
                <td>{{ event|md:'lang' }}</td>
            </tr>
            <tr>
                <th>Country:</th>
                <td>{{ event|md:'country' }}</td>
            </tr>
            </tbody>
        </table>

        <div class="bodysection">
            {{ event|md:'body' }}
        </div>

    </div>

    </div>

    {% if event.season.title != 'None' %}

        <div class="smallsublist">
            <header>
                <h3>Films in the <a href="{{ event.season.get_absolute_url }}">{{ event.season }}</a> season:</h3>
            </header>
            {% for day,events in prog %}{% for eventt in events %}
                <section class="row dmod clickable {% cycle 'boxb' 'boxa' as boxy %} mo{{ day|date:"my" }}"
                         data-href="{{ eventt.get_absolute_url }}">
                    <div class="pull-left">
                        {% if eventt.picture %}
                            {% thumbnail eventt.picture.file "240x135" crop='top' as im %}
                                <img class="img-responsive hidden-xs" alt="" src="{{ im.url }}"/>
                            {% endthumbnail %}
                            {% thumbnail eventt.picture.file "160x90" crop='top' as im %}
                                <img class="img-responsive visible-xs" alt="" src="{{ im.url }}"/>
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail fillerImage.file "240x135" crop='top' as im %}
                                <img class="img-responsive hidden-xs" alt="" src="{{ im.url }}"/>
                            {% endthumbnail %}
                            {% thumbnail fillerImage.file "160x90" crop='top' as im %}
                                <img class="img-responsive visible-xs" alt="" src="{{ im.url }}"/>
                            {% endthumbnail %}
                        {% endif %}
                    </div>

                    <h1 class="domdom">{{ day|date:"d" }}</h1>

                    <h1>{{ eventt.typeName }}: <a href="{{ eventt.get_absolute_url }}">{{ eventt.listHeading|title }}</a></h1>

                    <h2>{{ eventt.startDateTime|date:"DATETIME_FORMAT" }}</h2>

                    <p>{{ eventt.summary|sanitize }}</p>

                    <p class="viewlink"><a href="{{ eventt.get_absolute_url }}">Read More &raquo;</a></p>

                </section>{% endfor %}{% endfor %}
        </div>

    {% endif %}

{% endblock %}
