{% extends "normal.html" %}
{% load thumbnail %}

{% block extraContentBefore %}

    <header class="text-center"><h1>{{ maintitle|title }}</h1></header>

{#    <p class="pull-right" style="padding: 5px 0">#}
        {#        <a href="#" class="button radius small" id="viewprintprogramme" data-year="{{ cal.startDate.year }}"#}
        {#           data-month="{{ cal.startDate.month }}">#}
        {#            <img#}
        {#                    alt="PDF Brochure"#}
        {#                    src="/static/img/content/application-pdf-24x24.png"#}
        {#                    data-interchange="[/static/img/content/application-pdf-24x24.png, (default)], [/static/img/content/application-pdf-32x32.png, (large)]"#}
        {#                    >Brochure#}
        {#        </a>#}
{#        <a href="feed/" class="button radius small">#}
{#            <img#}
{#                    alt="RSS"#}
{#                    src="/static/img/content/application-rss+xml-24x24.png"#}
{#                    data-interchange="[/static/img/content/application-rss+xml-24x24.png, (default)], [/static/img/content/application-rss+xml-32x32.png, (large)]"#}
{#                    >RSS#}
{#        </a>#}
{#    </p>#}

    <ul class="pager">
        <li><a href="{{ cal.previous.onUrl }}">&laquo; {{ earliertext|default:"Earlier" }}</a></li>
        <li><a href="{{ cal.next.onUrl }}">{{ latertext|default:"Later" }} &raquo;</a></li>
    </ul>

{% endblock %}

{% block centralContent %}

    {% include 'programming/sublist.html' %}

{% endblock %}
