{% extends "programming/eventtype.html" %}
{% load programme_filters %}
{% load thumbnail %}

{% block centralContent %}

    <div class="eventtype editthis" itemscope itemtype="http://schema.org/Event" data-apiurl="{{ event.api_url }}"
         data-modeltype="Meeting" data-modelid="{{ event.id }}" xmlns="http://www.w3.org/1999/html">

        <header>
            <h1>
                <span itemprop="name" data-modelfield="title" data-fieldtype="ForeignKey" data-fieldvalue="{{ maintitle }}" data-fieldapiurl="/api/select/meetingtype/">{{ maintitle|title }}</span>
            </h1>
        </header>

        <h3 data-whileediting="hide">
            <time itemprop="startDate" datetime="{{ event.startDateTime|date:"c"|slice:":19" }}{{ event.startDateTime|date:"O" }}">{{ event.displayStart }}</time>
        </h3>
        {% if authenticated %}
            <h3 data-whileediting="show" hidden style="display: none;">
                <span data-modelfield="startDate" data-fieldtype="DateField" data-fieldvalue="{{ event.startDate|date:"SHORT_DATE_FORMAT" }}">{{ event.startDate|date:"SHORT_DATE_FORMAT" }}</span>
                <span data-modelfield="startTime" data-fieldtype="TimeField" data-fieldvalue="{{ event.startTime|date:"SHORT_TIME_FORMAT" }}">{{ event.startTime|date:"SHORT_TIME_FORMAT" }}</span>
            </h3>
        {% endif %}

        {% if authenticated %}
        <table>
            <tbody>
                <tr itemscope itemtype="http://schema.org/Person" hidden>
                    <td>Programmer:</td>
                    <td>
                        <span data-modelfield="programmer" data-fieldtype="ForeignKey" data-fieldvalue="{{ event.programmer.id }}" data-fieldapiurl="{{ event.programmer.api_list_url }}">
                            <a itemprop="url" href="{{ event.programmer.get_absolute_url }}">
                                <span itemprop="name">{{ event.programmer.name }}</span>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endif %}

        <div class="bodysection"><div class="body">
            {% if event.id %}{% if authenticated %}
                <hr>
                <h3>Event Approvals:</h3>
                {% if meetingInFuture %}
                    <p>This meeting starts in the future, so no events can have been approval at it.</p>
                {% else %}
                    {% if approvalSet %}
                        <table class="report">
                            <thead>
                            <tr>
                                <th style="width: 90px;">Date</th>
                                <th style="width: 40px;">Day</th>
                                <th style="width: 40px;">Start</th>
                                <th style="width: 60px;">Type</th>
                                <th>Title</th>
                                <th style="width: 75px;">Approved</th>
                                <th style="width: 170px;">Approved by</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for approval in approvalSet.approvals %}
                                {% with event=approval.event %}
                                    <tr>
                                        <td><a href="/on/{{ event.start|date:"Y/m/d/" }}">{{ event.start|date:"SHORT_DATE_FORMAT" }}</a></td>
                                        <td><a href="/on/{{ event.start|date:"Y/m/d/" }}">{{ event.start|date:"D" }}</a></td>
                                        <td>{{ event.start|date:"H:i" }}</td>
                                        <td>{{ event.typeName }}</td>
                                        <td><a href="{{ event.get_absolute_url }}">{{ event.listHeading }}</a></td>
                                        <td style="text-align: center;">{% if event.approved %}<img src="/static/icon_success.gif" height="16" width="16" alt="yes"/>{% else %}<img src="/static/icon_error.gif" height="16" width="16" alt="yes"/>{% endif %}</td>
                                        <td><a href="{{ approval.approver.get_absolute_url }}">{{ approval.approver }}</a></td>
                                    </tr>
                                {% endwith %}
                            {% empty %}
                                <tr>
                                    <td colspan="7">None</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No events have been recorded as having been approved at this meeting.</p>
                    {% endif %}
                {% endif %}
                <hr>
                <h3>Documents:</h3>
                {% if meetingInFuture %}
                    <p>This meeting starts in the future, so it has no minutes.</p>
                {% else %}
                    <ul>
                        {% for min in event.minutes_set.all %}
                            <li><a href="{{ min.get_absolute_url }}">{{ min }}</a></li>
                        {% empty %}
                            <li><a href="{% url add-minutes forMeeting=event.id %}">Add minutes</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <hr>
            {% endif %}{% endif %}
        </div></div>

    </div>

{% endblock %}
