{% extends "programming/eventtype.html" %}
{% load programme_filters %}
{% load thumbnail %}

{% block centralContent %}

    {{ event|md }}
    <meta itemprop="description" content="{{ event.summary|safe|striptags }}" data-bind="attr: { content: summary }"/>
    <meta itemprop="url" content="{{ event.get_absolute_url }}"/>
    <meta itemprop="duration" content="{{ event.isolength }}" data-bind="attr: { content: isolength }"/>
    <meta itemscope itemprop="location" itemref="thestarandshadowcinemaaddress"
          content="thestarandshadowcinemaaddress"/>

    <header>
        <h1>{{ event|md:"title" }}</h1>
    </header>

    {{ event|md:"picture" }}

    <h3>{{ event|md:"startDate" }} to {{ event|md:'endDate' }}</h3>

    <meta itemprop="image" content="{% if event.picture %}{% thumbnail event.picture.file "400" as im %}{{ im.url }}{% endthumbnail %}{% endif %}">

    <div class="bodysection">
        {{ event|md:'body' }}
    </div>

    </div>

    <header class="row">
        <h3>{{ relatedHeader }}</h3>
    </header>

    <div class="smallsublist">
        <header>
            <h3>Films in the {{ maintitle|title }} season:</h3>
        </header>
        {% for day,events in prog %}{% for eventt in events %}
            <section class="row dmod clickable {% cycle 'boxb' 'boxa' as boxy %} mo{{ day|date:"my" }}"
                     data-href="{{ eventt.get_absolute_url }}">
                <div class="pull-left">
                    {% if eventt.valid_picture %}
                        {% thumbnail eventt.picture.file "240x135" crop='top' as im %}
                            <img class="img-responsive hidden-xs" alt="" src="{{ im.url }}"/>
                        {% endthumbnail %}
                        {% thumbnail eventt.picture.file "160x90" crop='top' as im %}
                            <img class="img-responsive visible-xs" alt="" src="{{ im.url }}"/>
                        {% endthumbnail %}
                    {% else %}
                        {% thumbnail fillerImage.file "240x135" crop='top' as im %}
                            <img class="img-responsive hidden-xs" alt="" src="{{ im.url }}"/>
                        {% endthumbnail %}
                        {% thumbnail fillerImage.file "160x90" crop='top' as im %}
                            <img class="img-responsive visible-xs" alt="" src="{{ im.url }}"/>
                        {% endthumbnail %}
                    {% endif %}
                </div>

                <h1 class="domdom">{{ day|date:"d" }}</h1>

                <h1>{{ eventt.typeName }}: <a href="{{ eventt.get_absolute_url }}">{{ eventt.listHeading|title }}</a></h1>

                <h2>{{ eventt.startDateTime|date:"DATETIME_FORMAT" }}</h2>

                <p>{{ eventt.summary|sanitize }}</p>

                <p class="viewlink"><a href="{{ eventt.get_absolute_url }}">Read More &raquo;</a></p>

            </section>{% endfor %}{% endfor %}
    </div>

{% endblock %}
