{% extends "programming/eventtype.html" %}
{% load programme_filters %}
{% load thumbnail %}

{% block centralContent %}

    <div class="eventtype editthis" itemscope itemtype="http://schema.org/Event" data-apiurl="{{ event.api_url }}" data-modeltype="Season" data-modelid="{{ event.id }}">

        <header>
            <h1>
                <span itemprop="name" data-modelfield="title" data-fieldtype="CharField">{{ maintitle|title }}</span>
            </h1>
        </header>

        {% if event.picture %}
            {% thumbnail event.picture.file "400" as im %}
                <img class="imgright"
                     data-modelfield="picture"
                     data-fieldtype="ForeignKeyPicture"
                     data-fieldvalue="{{ event.picture.id }}"
                     data-fieldapiurl="{{ event.picture.api_list_url }}"
                     itemprop="image"
                     src="{{ im.url }}"
                     data-src="{{ event.picture.get_img_url }}"
                     data-width="{{ event.picture.file.width }}"
                     data-height="{{ event.picture.file.height }}"
                     alt=""
                     width="{{ im.width }}"
                     height="{{ im.height }}">
            {% endthumbnail %}
        {% else %}
            <img class="imgright"
                 data-modelfield="picture"
                 data-fieldtype="ForeignKeyPicture"
                 data-fieldvalue="789"
                 data-fieldapiurl="/api/select/graphic/"
                 itemprop="image"
                 src="/static/img/events/filler.png"
                 data-src=""
                 alt=""
                 width="400"
                 height="400"
                 hidden>
        {% endif %}

        <h3 data-whileediting="hide">
            <time itemprop="startDate" datetime="{{ event.startDateTime|date:"c"|slice:":19" }}{{ event.startDateTime|date:"O" }}">{{ event.displayStart }}</time>
            {% ifnotequal event.displayStart '' %} to {% endifnotequal %}
            <time itemprop="endDate" datetime="{{ event.endDateTime|date:"c"|slice:":19" }}{{ event.startDateTime|date:"O" }}">{{ event.displayEnd }}</time>
        </h3>
        {% if authenticated %}
            <h3 data-whileediting="show" hidden style="display: none;">
                <span data-modelfield="startDate" data-fieldtype="DateField" data-fieldvalue="{{ event.startDate|date:"SHORT_DATE_FORMAT" }}">{{ event.startDate|date:"SHORT_DATE_FORMAT" }}</span>
                to <span data-modelfield="endDate" data-fieldtype="DateField" data-fieldvalue="{{ event.endTime|date:"SHORT_DATE_FORMAT" }}">{{ event.endDate|date:"SHORT_DATE_FORMAT" }}</span>
            </h3>
        {% endif %}

        <table>
            <tbody>
                {% if authenticated %}
                    <tr itemscope itemtype="http://schema.org/Person">
                        <td>Programmer:</td>
                        <td>
                            <span data-modelfield="programmer" data-fieldtype="ForeignKey" data-fieldvalue="{{ event.programmer.id }}" data-fieldapiurl="{{ event.programmer.api_list_url }}">
                                <a itemprop="url" href="{{ event.programmer.get_absolute_url }}">
                                    <span itemprop="name">{{ event.programmer.name }}</span>
                                </a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Public/Private:</td>
                        <td><span data-modelfield="private" data-fieldtype="BooleanField" data-iftrue="Private" data-iffalse="Public"{% if event.private %} class="true">Private{% else %} class="false">Public{% endif %}</span></td>
                    </tr>
                {% endif %}
                <tr data-whileediting="show" hidden style="display: none;">
                    <td>Summary:</td>
                    <td class="summary" itemprop="description" data-modelfield="summary" data-fieldtype="PlainTextField">{{ event.summary|safe|striptags }}</td>
                </tr>
            </tbody>
        </table>

        <div class="bodysection"><div class="body" data-modelfield="body" data-fieldtype="TextField">{{ event.body|sanitize }}</div></div>

    </div>

    <div class="smallsublist">
        <header>
            <h3>Films in the {{ maintitle|title }} season:</h3>
        </header>
        {% for day,events in prog %}{% for eventt in events %}<section class="mod small emod {% cycle 'boxb' 'boxa' as boxy %} mo{{ day|date:"my" }}">
            <h1>{{ day|date:"DATE_FORMAT" }}</h1>
            <h2>{{ eventt.typeName }}: <a href="{{ eventt.get_absolute_url }}">{{ eventt.listHeading|title }}</a></h2>
            <h3>{{ eventt.start|date:"TIME_FORMAT" }}</h3>
            <p><a href="{{ eventt.get_absolute_url }}"><span class="viewlink"></span></a></p>
            </section>{% empty %}<section class="mod emod {% cycle boxy %} mo{{ day|date:"my" }}">
            <h1>{{ day|date:"DATE_FORMAT" }}</h1>
            <h2>Closed</h2>
            </section>{% endfor %}{% endfor %}
    </div>

{% endblock %}
