{% load programme_filters %}
{% load thumbnail %}

{% if relatedHeader %}
    <header>
        <h3>{{ relatedHeader }}</h3>
    </header>
{% endif %}

{% for day,events in prog %}
    {% for eventt in events %}
        <section class="row dmod clickable {% cycle 'boxb' 'boxa' as boxy %} mo{{ day|date:"my" }}"
                 data-href="{{ eventt.get_absolute_url }}">
            <div class="imgleft">
                {% if eventt.picture %}
                    {% thumbnail eventt.picture.file "160x90" crop='top' as small_im %}
                        {% thumbnail eventt.picture.file "240x135" crop='top' as large_im %}
                            <img
                                    alt=""
                                    src="{{ small_im.url }}"
                                    data-interchange="[{{ small_im.url }}, (default)], [{{ large_im.url }}, (medium)]"
                                    />
                        {% endthumbnail %}
                    {% endthumbnail %}
                {% else %}
                    {% thumbnail fillerImage.file "160x90" crop='top' as small_im %}
                        {% thumbnail fillerImage.file "240x135" crop='top' as large_im %}
                            <img
                                    alt=""
                                    src="{{ small_im.url }}"
                                    data-interchange="[{{ small_im.url }}, (default)], [{{ large_im.url }}, (medium)]"
                                    />
                        {% endthumbnail %}
                    {% endthumbnail %}
                {% endif %}
            </div>
            <h1 class="domdom">{{ day|date:"d" }}</h1>

            <h1>{{ eventt.typeName }}: <a href="{{ eventt.get_absolute_url }}">{{ eventt.listHeading|title }}</a></h1>

            <h2>{{ eventt.startDateTime|date:"DATETIME_FORMAT" }}</h2>

            <p>{{ eventt.summary|sanitize }}</p>

            <p class="viewlink"><a href="{{ eventt.get_absolute_url }}">Read More &raquo;</a></p>

            <div class="clear"></div>
        </section>
    {% empty %}
        <section class="row dmod clickable {% cycle boxy %} mo{{ day|date:"my" }}">
            <div class="imgleft">
                {% thumbnail fillerImage.file "160x90" crop='top' as small_im %}
                    {% thumbnail fillerImage.file "240x135" crop='top' as large_im %}
                        <img
                                alt=""
                                src="{{ small_im.url }}"
                                data-interchange="[{{ small_im.url }}, (default)], [{{ large_im.url }}, (medium)]"
                                >
                    {% endthumbnail %}
                {% endthumbnail %}
            </div>
            <h1 class="domdom">{{ day|date:"d" }}</h1>

            <h2>{{ day|date:"DATE_FORMAT" }}</h2>

            <div class="clear"></div>
        </section>
    {% endfor %}
{% endfor %}
