<!doctype html>{% load compress %}{% load menu_item %}{% load static %}
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js notie" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if hiddenpage %}<meta name="robots" content="noindex,nofollow" />{% endif %}
    <title>The Star And Shadow Cinema{% block extraTitle %}{% endblock %}</title>
    <meta name="description" content="The Star And Shadow Cinema">
    <meta name="author" content="The Star And Shadow Cinema">
    {% if cal %}<link rel="alternate" type="application/rss+xml" title="RSS" href="feed/" />{% endif %}
    {% compress css %}
    <link rel="stylesheet" type="text/less" href="{% static 'less/main.less' %}"/>
    {% endcompress %}
</head>
{% if authenticated %}
    <body class="authenticated">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">S&S</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                {#            {% if messages %}#}
                {#                {% for message in messages %}#}
                {#                    <div{% if message.tags %} class="balloon {{ message.tags }}"{% endif %}>{{ message|safe }}</div>#}
                {#                {% endfor %}#}
                {#            {% endif %}#}
                {#            {% block extramessagearea %}#}
                {#                {% if extramessagesss %}#}
                {#                    {% for message in extramessage %}#}
                {#                        {{ message|safe }}#}
                {#                    {% endfor %}#}
                {#                {% endif %}#}
                {#            {% endblock %}#}
                {% li_menu_item "url:report-index" "Programme" %}
                {% li_menu_item "url:meetings-report" "Meetings" %}
                {% li_menu_item "url:return-index" "Box Office Returns" %}
                {% li_menu_item "url:volunteerIndex" "Volunteers" %}
                {% li_menu_item "url:change-log" "Log" %}
                {% li_menu_item "url:volunteerMe" "My Profile" %}
                {% li_menu_item "url:logout" "Log Out" %}

            </ul>
            <p class="navbar-text pull-right">Signed in as {{ user | title }}</p>
        </div>
    </nav>
    {% block adminarea %}

    {% endblock %}
{% else %}
    <body>
{% endif %}
<div id="container" class="container{% block container_classes %}{% endblock %}">
    <div class="row">
        <div
                itemscope
                itemtype="http://schema.org/MovieTheater"
                id="thestarandshadowcinema"
                class="col-md-2 sidebar">
            <meta itemprop="additionalType" content="http://schema.org/NightClub">
            <header class="row">
                <h1>
                    <a itemprop="url" href="http://www.starandshadow.org.uk">
                        <img
                                class="squarelogo img-responsive visible-lg"
                                alt="The Star And Shadow Cinema"
                                itemprop="image"
                                src="/static/img/content/logo.png"
                                >
                        <img
                                class="squarelogo img-responsive visible-md"
                                alt="The Star And Shadow Cinema"
                                itemprop="image"
                                src="/static/img/content/logo.png"
                                >
                        <img
                                class="longlogo img-responsive visible-sm"
                                alt="The Star And Shadow Cinema"
                                itemprop="image"
                                src="/static/img/content/logo_long.png"
                                >
                        <img
                                class="longlogo img-responsive visible-xs"
                                alt="The Star And Shadow Cinema"
                                itemprop="image"
                                src="/static/img/content/logo_long.png"
                                >
                        <meta itemprop="name" content="The Star And Shadow Cinema"/>
                    </a>
                </h1>
            </header>
            {% block leftPortlets %}{% endblock %}
        </div>
        <div id="main" role="main" class="col-md-10">
            {% if authenticated %}{% block adminExtraContentBefore %}{% endblock %}{% endif %}
            {% block extraContentBefore %}{% endblock %}
            {% block centralContent %}{% endblock %}
            {% block extraContentAfter %}{% endblock %}
        </div>
    </div>
</div>
{% if authenticated %}
    {% compress js %}
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/jquery.mb.browser.min.js"></script>
    <script src="/static/js/jquery.webkitresize.nonifrm.js"></script>
    <script src="/static/bootstrap-3.0.0/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/knockout-2.2.1.js"></script>
    <script src="/static/js/knockout.mapping-2.4.1.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <script src="/static/fineuploader-3.0/jquery.fineuploader-3.0.js"></script>
    <script src="/static/jquery.contenteditable/jquery.contenteditable/jquery.contenteditable.js"></script>
    <script src="/static/jquery.contenteditable/jquery.contenteditable/shortcut.js"></script>
    <script src="/static/js/user.js"></script>
    <script src="/static/js/admin.js"></script>
    {% endcompress %}
{% else %}
    {% compress js %}
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/bootstrap-3.0.0/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <script src="/static/js/user.js"></script>
    {% endcompress %}
{% endif %}
<script>
    var _gaq = [
        ['_setAccount', 'UA-26510424-1'],
        ['_trackPageview'],
        ['_trackPageLoadTime']
    ];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>
<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
</body>
</html>
