<!doctype html>{% load compress %}{% load menu_item %}
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js notie" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>The Star And Shadow Cinema{% block extraTitle %}{% endblock %}</title>
    <meta name="description" content="The Star And Shadow Cinema">
    <meta name="author" content="The Star And Shadow Cinema">
    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/foundation.css"/>
    <link rel="stylesheet" href="/static/css/app.css"/>
    <script src="/static/js/vendor/custom.modernizr.js"></script>
</head>
<body>
{% if authenticated %}
    <div id="adminarealeft" class="adminarea adminarealeft">
        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="balloon {{ message.tags }}"{% endif %}>{{ message|safe }}</div>
            {% endfor %}
        {% endif %}
        {% block extramessagearea %}
            {% if extramessagesss %}
                {% for message in extramessage %}
                    {{ message|safe }}
                {% endfor %}
            {% endif %}
        {% endblock %}
        <ul id="logged-in-menu">
            {% li_menu_item "url:report-index" "Programme" %}
            {% li_menu_item "url:meetings-report" "Meetings" %}
            {% li_menu_item "url:return-index" "Box Office Returns" %}
            {% li_menu_item "url:volunteerIndex" "Volunteers" %}
            {% li_menu_item "url:change-log" "Log" %}
            {% li_menu_item "url:volunteerIndex" "My Profile" %}
        </ul>
        <div id="debugarea"></div>
        {% block adminarea %}{% endblock %}
    </div>
    <div id="adminarearight" class="adminarea adminarearight">
    </div>
{% endif %}
<div id="container" class="row">
    <div itemscope itemtype="http://schema.org/MovieTheater" id="thestarandshadowcinema"
         class="small-12 large-2 columns sidebar">
        <meta itemprop="additionalType" content="http://schema.org/NightClub">
        <header>
            <h1>
                <a itemprop="url" href="http://www.starandshadow.org.uk">

                    <img
                            alt="The Star And Shadow Cinema"
                            itemprop="image"
                            src="/static/img/content/logo_long.png"
                            data-interchange="[/static/img/content/logo_long.png, (default)], [/static/img/content/logo.png, (small)]"
                            >
                    <meta itemprop="name" content="The Star And Shadow Cinema"/>
                </a>
            </h1>
        </header>
        {% block leftPortlets %}{% endblock %}
    </div>
    <div id="main" role="main" class="small-12 large-10 columns">
        {% block extraContentBefore %}{% endblock %}
        {% block centralContent %}{% endblock %}
        {% block extraContentAfter %}{% endblock %}
        <div class="clear">&nbsp;</div>
    </div>
</div>
<script>
    document.write('<script src=' +
            ('__proto__' in {} ? '/static/js/vendor/zepto' : '/static/js/vendor/jquery') +
            '.js><\/script>')
</script>
<script src="/static/js/foundation/foundation.js"></script>
<script src="/static/js/foundation/foundation.alerts.js"></script>
<script src="/static/js/foundation/foundation.clearing.js"></script>
<script src="/static/js/foundation/foundation.cookie.js"></script>
<script src="/static/js/foundation/foundation.dropdown.js"></script>
<script src="/static/js/foundation/foundation.forms.js"></script>
<script src="/static/js/foundation/foundation.joyride.js"></script>
<script src="/static/js/foundation/foundation.magellan.js"></script>
<script src="/static/js/foundation/foundation.orbit.js"></script>
<script src="/static/js/foundation/foundation.placeholder.js"></script>
<script src="/static/js/foundation/foundation.reveal.js"></script>
<script src="/static/js/foundation/foundation.section.js"></script>
<script src="/static/js/foundation/foundation.tooltips.js"></script>
<script src="/static/js/foundation/foundation.topbar.js"></script>
<script src="/static/js/foundation/foundation.interchange.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/app-admin.js"></script>
<script>
    $(document).foundation();
</script>
{#<script>#}
{#    var _gaq = [#}
{#        ['_setAccount', 'UA-26510424-1'],#}
{#        ['_trackPageview'],#}
{#        ['_trackPageLoadTime']#}
{#    ];#}
{#    (function (d, t) {#}
{#        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];#}
{#        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';#}
{#        s.parentNode.insertBefore(g, s)#}
{#    }(document, 'script'));#}
{#</script>#}
{#<!--[if lt IE 7 ]>#}
{#<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>#}
{#<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>#}
{#<![endif]-->#}
</body>
</html>
