<!doctype html>{% load compress %}{% load menu_item %}
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js notie" lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>The Star And Shadow Cinema{% block extraTitle %}{% endblock %}</title>
    <meta name="description" content="The Star And Shadow Cinema">
    <meta name="author" content="The Star And Shadow Cinema">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    {% if authenticated %}
        {% compress css %}
            <link href="/static/js/libs/jquery-ui-1.10.3.custom/css/humanity/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css"/>
            <link href="/static/js/libs/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css"/>
            <link href="/static/js/libs/fineuploader-3.0/fineuploader.css" rel="stylesheet" type="text/css"/>
            <link href="/static/js/libs/fineuploader-3.0/fineuploader.css" rel="stylesheet" type="text/css"/>
            <link href="/static/js/libs/jquery.contenteditable/jquery.contenteditable/jquery.contenteditable.css" rel="stylesheet" type="text/css"/>

            <!--
            <link href="/static/js/libs/anytime/anytime.css" rel="stylesheet" type="text/css"/>
            -->

            <link href="/static/css/main.css" rel="stylesheet" type="text/css"/>
        {% endcompress %}
    {% else %}
        {% compress css %}
            <!--
            <link href="/static/js/libs/jquery-ui-1.10.0.custom/css/humanity/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" type="text/css"/>
            <link href="/static/css/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css"/>
            <link href="/static/js/libs/jquery-ui-1.10.0.custom/css/humanity/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" type="text/css"/>
            -->
            <link href="/static/css/main.css" rel="stylesheet" type="text/css"/>
        {% endcompress %}
    {% endif %}
</head>
<body>
{% if authenticated %}
    <div id="adminarealeft" class="adminarea adminarealeft">
        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="balloon {{ message.tags }}"{% endif %}>{{ message|safe }}</div>
            {% endfor %}
        {% endif %}
        {% block extramessagearea %}
            {% if extramessagesss %}
                {% for message in extramessage %}
                    {{ message|safe }}
                {% endfor %}
            {% endif %}
        {% endblock %}
        <ul id="logged-in-menu">
            {% li_menu_item "url:report-index" "Programme" %}
            {% li_menu_item "url:meetings-report" "Meetings" %}
            {% li_menu_item "url:return-index" "Box Office Returns" %}
            {% li_menu_item "url:volunteerIndex" "Volunteers" %}
            {% li_menu_item "url:change-log" "Log" %}
            {% li_menu_item "url:volunteerIndex" "My Profile" %}
        </ul>
        <div id="debugarea"></div>
        {% block adminarea %}{% endblock %}
    </div>
    <div id="adminarearight" class="adminarea adminarearight">
    </div>
{% endif %}
<div id="container">
    <div itemscope itemtype="http://schema.org/MovieTheater" id="thestarandshadowcinema" class="sidebar leftCol">
        <meta itemprop="additionalType" content="http://schema.org/NightClub">
        <header>
            <h1>
                <a itemprop="url" href="http://www.starandshadow.org.uk">
                    <img class="largescreen" itemprop="image" width="175" height="230" src="/static/img/content/logo.jpg" alt="The Star And Shadow Cinema"/>
                    <img class="smallscreen imgcenter" width="360" height="59" src="/static/img/content/logo_long.png" alt="The Star And Shadow Cinema"/>
                    <meta itemprop="name" content="The Star And Shadow Cinema"/>
                </a>
            </h1>
        </header>
        {% block leftPortlets %}{% endblock %}
    </div>
    <div id="main" role="main">
        {% block extraContentBefore %}{% endblock %}
        {% block centralContent %}{% endblock %}
        {% block extraContentAfter %}{% endblock %}
        <div class="clear">&nbsp;</div>
    </div>
</div>
{% if authenticated %}
    {% compress js %}
        <script type="text/javascript" src="/static/js/libs/jquery-1.10.1.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/libs/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/libs/jquery-ui-timepicker-addon.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/libs/knockout-2.2.1.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/libs/knockout.mapping-2.4.1.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/libs/fineuploader-3.0/jquery.fineuploader-3.0.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/libs/jquery.contenteditable/jquery.contenteditable/jquery.contenteditable.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/libs/jquery.contenteditable/jquery.contenteditable/shortcut.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/libs/jquery.webkitresize.nonifrm.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/main.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/admin.js" charset="utf-8"></script>
    {% endcompress %}
    {{ form.media }}
    {% csrf_token %}
{% else %}
    {% compress js %}
        <script type="text/javascript" src="/static/js/libs/jquery-1.10.1.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/main.js" charset="utf-8"></script>
    {% endcompress %}
{% endif %}
<script>
    var _gaq = [
        ['_setAccount', 'UA-26510424-1'],
        ['_trackPageview'],
        ['_trackPageLoadTime']
    ];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>
<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
</body>
</html>
