{% extends "content/documenttype.html" %}
{% load programme_filters %}
{% load thumbnail %}

{% block centralContent %}

    {{ event|md }}
    <meta itemprop="url" content="{{ event.get_absolute_url }}"/>

    <header>
        <h1>{{ event|md:"meeting" }}</h1>
    </header>

{#    <table data-whileediting="show" hidden style="display: none;">#}
{#            <tbody hidden>#}
{#                <tr>#}
{#                    <td>Meeting:</td>#}
{#                    <td><span data-modelfield="meeting" data-fieldtype="ForeignKey" data-fieldvalue="{{ minutes.meeting.id }}" data-fieldapiurl="/api/select/meeting/">{{ minutes.meeting.longHeading }}</span></td>#}
{#                </tr>#}
{#            </tbody>#}
{#        </table>#}

    <div class="bodysection">
        {{ event|md:'articleBody' }}
    </div>

    </div>

{% endblock %}
