{% extends "normal.html" %}

{% block centralContent %}

    {% if maintitle %}
        <header class="text-center"><h1>{{ maintitle|title }}</h1></header>
    {% endif %}

    <ul class="pager">
        <li><a class="button" href="{% url "month-report" year=cal.previousMonth.year month=cal.previousMonth.month %}">&laquo; {{ cal.previousMonth|date:"F Y" }}</a></li>
        <li><a class="button" href="{% url "month-report" year=cal.nextMonth.year month=cal.nextMonth.month %}">{{ cal.nextMonth|date:"F Y" }} &raquo;</a></li>
    </ul>

    <ul class="pager">
        <li><a class="button" href="{% url "show-film" id=0 %}?year={{ cal.startDate.year }}&month={{ cal.startDate.month }}">Add Film</a></li>
        <li><a class="button" href="{% url "show-gig" id=0 %}?year={{ cal.startDate.year }}&month={{ cal.startDate.month }}">Add Gig</a></li>
        <li><a class="button" href="{% url "show-event" id=0 %}?year={{ cal.startDate.year }}&month={{ cal.startDate.month }}">Add Event</a></li>
        <li><a class="button" href="{% url "show-season" id=0 %}?year={{ cal.startDate.year }}&month={{ cal.startDate.month }}">Add Season</a></li>
{#        <li><a class="button" href="{% url "show-meeting" id=0 %}?year={{ cal.startDate.year }}&month={{ cal.startDate.month }}">Add Meeting</a></li>#}
    </ul>

    <!-- <p><a href="{% url "month-report" year=cal.startDate.year month=cal.startDate.month %}">View as plain text</a></p> -->

    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th style="width: 90px;">Date</th>
            <th style="width: 30px;">Day</th>
            <th style="width: 38px;">Start</th>
            <th style="width: 52px;">Type</th>
            <th>Title</th>
            <th style="width: 73px;">Confirmed</th>
{#            <th style="width: 73px;">Approved</th>#}
        </tr>
        </thead>
        <tbody>
        {% for day,events in prog %}
            {% for event in events %}
                <tr class="{{ day|date:"D" }}">
                    {% ifchanged %}
                        <td rowspan="{{ events|length }}"><a href="/on/{{ day|date:"Y/m/d/" }}">{{ day|date:"SHORT_DATE_FORMAT" }}</a></td>
                        <td rowspan="{{ events|length }}"><a href="/on/{{ day|date:"Y/m/d/" }}">{{ day|date:"D" }}</a></td>
                    {% endifchanged %}
                    <td>{{ event.startTime|date:"H:i" }}</td>
                    <td>{{ event.typeName }}</td>
                    <td><a href="{{ event.get_absolute_url }}">{{ event.listHeading }}</a></td>
                    <td style="text-align: center;">{% if event.confirmed %}
                        <img src="/static/icon_success.gif" height="16" width="16" alt="yes"/>
                    {% else %}
                        <img src="/static/icon_error.gif" height="16" width="16" alt="no"/>
                    {% endif %}</td>
{#                    <td style="text-align: center;">{% if event.approved %}#}
{#                        <img src="/static/icon_success.gif" height="16" width="16" alt="yes"/>#}
{#                    {% else %}#}
{#                        <img src="/static/icon_error.gif" height="16" width="16" alt="no"/>#}
{#                    {% endif %}</td>#}
                </tr>
            {% empty %}
                <tr class="{{ day|date:"D" }}">
                    <td><a href="/on/{{ day|date:"Y/m/d/" }}">{{ day|date:"SHORT_DATE_FORMAT" }}</a></td>
                    <td><a href="/on/{{ day|date:"Y/m/d/" }}">{{ day|date:"D" }}</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
{#                    <td></td>#}
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
