{% extends "normal.html" %}
{% load thumbnail %}

{% block centralContent %}

    {% if maintitle %}
        <header><h1>{{ maintitle|title }}</h1></header>
{#        {% if authenticated %} (<a href="{{ volunteer.get_edit_url }}">Edit</a>){% endif %}#}
    {% endif %}

    <div class="pull-right"><p>{% thumbnail volunteer.photo "x300" as im %}
        <img class="boxyimg" src="{{ im.url }}" alt="{{ volunteer.name }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}</p></div>
    <table>
        <tr>
            <th>Home phone:</th>
            <td>{{ volunteer.homePhone }}</td>
        </tr>
        <tr>
            <th>Mobile Phone:</th>
            <td>{{ volunteer.mobilePhone }}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td><a href="mailto:{{ volunteer.email }}">{{ volunteer.email }}</a></td>
        </tr>
    </table>

    <div class="clearright"></div>
    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th style="width: 90px;">Date</th>
            <th style="width: 30px;">Day</th>
            <th style="width: 38px;">Start</th>
            <th style="width: 52px;">Type</th>
            <th>Title</th>
            <th style="width: 73px;">Confirmed</th>
{#            <th style="width: 73px;">Approved</th>#}
        </tr>
        </thead>
        <tbody>
        {% for day,events in prog %}
            {% for event in events %}
                <tr class="{{ day|date:"D" }}">
                    {% ifchanged %}
                        <td rowspan="{{ events|length }}"><a href="/on/{{ day|date:"Y/m/d/" }}">{{ day|date:"SHORT_DATE_FORMAT" }}</a></td>
                        <td rowspan="{{ events|length }}"><a href="/on/{{ day|date:"Y/m/d/" }}">{{ day|date:"D" }}</a></td>
                    {% endifchanged %}
                    <td>{{ event.startTime|date:"H:i" }}</td>
                    <td>{{ event.typeName }}</td>
                    <td><a href="{{ event.get_absolute_url }}">{{ event.listHeading }}</a></td>
                    <td style="text-align: center;">{% if event.confirmed %}
                        <img src="/static/icon_success.gif" height="16" width="16" alt="yes"/>
                    {% else %}
                        <img src="/static/icon_error.gif" height="16" width="16" alt="no"/>
                    {% endif %}</td>
{#                    <td style="text-align: center;">{% if event.approved %}#}
{#                        <img src="/static/icon_success.gif" height="16" width="16" alt="yes"/>#}
{#                    {% else %}#}
{#                        <img src="/static/icon_error.gif" height="16" width="16" alt="no"/>#}
{#                    {% endif %}</td>#}
                </tr>
            {% empty %}
                <tr class="{{ day|date:"D" }}">
                    <td><a href="/on/{{ day|date:"Y/m/d/" }}">{{ day|date:"SHORT_DATE_FORMAT" }}</a></td>
                    <td><a href="/on/{{ day|date:"Y/m/d/" }}">{{ day|date:"D" }}</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
{#                    <td></td>#}
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
